body {
  height: 100 vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-image:url("./img/epic_starwars_header.jpg");
  background-size:cover;
  background-position:top;
}

body {
  background-image:url("./img/bgBody.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;  
}

footer {
  background-image:url("./img/epic_starwars_footer.jpg");
  background-size:cover;
  background-position: bottom;  
}

button {
  background-image:url("./img/yoda.jpg");
  background-size:cover;
}

.item {
  background-image:url("./img/element_Img.jpg");
  background-size:cover;
  background-position:center;  
}